html,
body {
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  height: 100%;
}

/* http://www.latofonts.com/lato-free-fonts/ */
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.eot);
    src: url(../fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Lato-Regular.woff2) format('woff2'),
         url(../fonts/Lato-Regular.woff) format('woff'),
         url(../fonts/Lato-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Semibold.eot);
    src: url(../fonts/Lato-Semibold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Lato-Semibold.woff2) format('woff2'),
         url(../fonts/Lato-Semibold.woff) format('woff'),
         url(../fonts/Lato-Semibold.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Bold.eot);
    src: url(../fonts/Lato-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Lato-Bold.woff2) format('woff2'),
         url(../fonts/Lato-Bold.woff) format('woff'),
         url(../fonts/Lato-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

p {
    line-height: 24px;
    font-size: 16px;
}

.h1,h1{font-size:36px}
.h2,h2{font-size:30px}
.h3,h3{font-size:24px}
.h4,h4{font-size:20px}
.h5,h5{font-size:14px}
.h6,h6{font-size:12px}

#logo {
    padding-top: 5px;
}
