<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albireo.Base32" version="1.0.1.0" targetFramework="net452" />
  <package id="Base58Check" version="0.2.0" targetFramework="net452" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.1.0" targetFramework="net45" />
  <package id="Ipfs.Core" version="0.6.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="SHA3" version="0.9.2" targetFramework="net452" />
</packages>